.container {
  margin: 76px 34px 29px;
}

.top {
  display: flex;
  justify-content: center;
}
.appStoreIcon {
  width: 145px;
  border-radius: 8px;
}

.bottom {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  color: #a1a1a1;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.bottomItem {
  display: flex;
  align-items: center;
  width: 250px;
}
.bottomItem:nth-child(2) {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.bottomItem:nth-child(3) img {
  margin-left: 10px;
}

.logo {
  height: 20px;
}
